<% include partials/header%>
<% include partials/navbar%>

<div class="jumbotron">
    <p>LEADERBOARDS</p>
</div>

<% include partials/scripts%>
<link rel="stylesheet" href="/stylesheets/leaderboards.css">
<% include partials/footer%>