<% include partials/header%>
<% include partials/navbar%>

<div class="container" id="leaderboard">
    <%leaderboards.forEach(function(user){%>
        <div class="ui segment">
                <div class="container" id="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS63g7ki3afWpZSSMhymS3ShSSylguOeBzPkCVsbwJVMy8vse_R" class="img-thumbnail">
                        <p id="username">Username: <%=user.username%></p>
                        <p id="points">Points <%=user.totalPoints%></p>
                </div>

        </div>
       
    <%})%>
</div>

<% include partials/scripts%>
<link rel="stylesheet" href="/stylesheets/leaderboards.css">
<% include partials/footer%>