<% include partials/header%>
<% include partials/navbar%>

<div class="container" id="leaderboard">
    <%leaderboards.forEach(function(user){%>
        <div class="ui segment">
                <p>Username: <%=user.username%></p>
                <p>Points <%=user.totalPoints%></p>
        </div>
       
    <%})%>
</div>

<% include partials/scripts%>
<link rel="stylesheet" href="/stylesheets/leaderboards.css">
<% include partials/footer%>