<% include partials/header%>
<% include partials/navbar%>

<div class="container">
        <select class="ui dropdown">
                <option value="">language</option>
        </select>              
        <input class="text" type="text" name="language" placeholder="Text to translate" required>

        <p></p>

        <button class="btn btn-danger">Translate</button>
</div>



<% include partials/scripts%>
<script src="test.js"></script>
<% include partials/footer%>