
#leaderboard{
    margin: 0 30%;
    margin-top: 50px;
}
.ui.cards{

    width: 100%;
}
.card{
    display: inline-block;
}

.ui.segment{
    margin-bottom: 20px;
}
.ui.segment:last-child{
    margin-bottom: 30px;
}

p{
    font-size: 30px;
    font-weight: 700;
}


