body{
    background-color: #666666;
}

.alert{
    margin-top: 20px;
    padding-top: 10px;
 }
 
 .alert p{
     text-align: center;
 }

 a.item{
    padding-top: 7px;
    margin-left: 10px;
}
a:not([href]):not([tabindex]){
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}